@import "tailwindcss";

/*
 Slider Custom Styles */
.product-slider .slick-prev,
.product-slider .slick-next {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.product-slider .slick-prev {
  left: -20px;
}

.product-slider .slick-next {
  right: -20px;
}

.product-slider .slick-prev:before,
.product-slider .slick-next:before {
  font-size: 40px;
  color: #1f2937;
}

.product-slider .slick-dots {
  bottom: -40px;
}

.product-slider .slick-dots li button:before {
  font-size: 12px;
  color: #1f2937;
}

.product-slider .slick-dots li.slick-active button:before {
  color: #1f2937;
}


/* Category Slider Styles */
.category-slider .slick-prev,
.category-slider .slick-next {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.category-slider .slick-prev {
  left: -20px;
}

.category-slider .slick-next {
  right: -20px;
}

.category-slider .slick-prev:before,
.category-slider .slick-next:before {
  font-size: 40px;
  color: #1f2937;
}

.category-slider .slick-dots {
  bottom: -40px;
}

.category-slider .slick-dots li button:before {
  font-size: 12px;
  color: #1f2937;
}

.category-slider .slick-dots li.slick-active button:before {
  color: #1f2937;
}
